* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden;
    overflow-y: hidden; */
    position: relative;
}

.project-wrapper {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /* filter: invert(1); */
    /* cursor: none; */
}

.project {
    background-color: hsl(0, 0%, 64%); 
    /* rgb(255, 0, 234); */
    width: 5px;
    height: 5px;
    border-radius: 100px;
    position: absolute;
}

.cta {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    /* border: solid 5px hsl(0, 0%, 19%);  */
    /* background-color: rgb(190, 190, 190); */
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    user-select: none;
    display: none;
}

.cta h4 {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.project-content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -100vh;
}