* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

.project-wrapper {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    border: solid 2px rgb(168, 151, 151);
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
    overflow-y: hidden;
}

.project {
    background-color: hsl(0, 0%, 47%); 
    /* rgb(255, 0, 234); */
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
}