* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

.project-wrapper {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* border: solid 2px rgb(168, 151, 151); */
    background-color: rgb(245, 241, 241);
    overflow-x: hidden;
    overflow-y: hidden;
    /* filter: invert(1); */
}

.project {
    background-color: hsl(0, 0%, 19%); 
    /* rgb(255, 0, 234); */
    width: 5px;
    height: 5px;
    border-radius: 100px;
    position: absolute;
    /* animation: fadeIn 1s; */
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}